<!Doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <meta charset="UTF-8"/>
    <title>Sistema de Gestão de Empresa</title>
</head>


<body>
   
    <nav id="index-nav" class="navbar navbar-transparent navbar-absolute" role="navigation">
		
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="btn-menu navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">_</span>
                <span class="icon-bar">_</span>
				<span class="icon-bar">_</span>
    		</button>
				<a class="navbar-brand border-bottom-hover">Gestão de Empresas</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
                    <li class=""><a href="/">HOME</a></li>
					<li><a href="/empresa">EMPRESA</a></li>
					<li><a href="/servico">SERVIÇO</a></li>
				</ul>
			</div>
		</div>
	</nav>

    <main>
        <!-- inicio do container -->
        <section class="container">

            <div class="row">

                <div class="container col-sm-12 pull-left">
                    <h3 class="text-center">Relação de serviços cadastrados</h3>
                </div>

                <!-- inicio da tabela -->
                <div id="tabela" class="container col-sm-10">
                    <table class="table" th:each="servico : ${servicos}" th:unless="${servicos == null}">
                        <thead>
                            <tr>
                                <th th:text="${servico.nome}"></th>
                                <th th:text="${servico.descricao}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="preco : ${servico.precos}">
                                 <td th:text="${preco.tipo.valor}"></td>
                                 <td th:text="${preco.valorFormatado}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- fim da tabela -->
            </div>

        </section>
        <!-- fim do container -->
    </main>

    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>