<!Doctype html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/main.css" />
    <meta charset="UTF-8" />
    <title>Sistema de Gestão de Empresa</title>
</head>


<body>
    <nav id="index-nav" class="navbar navbar-transparent navbar-absolute" role="navigation">
		
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="btn-menu navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">_</span>
                <span class="icon-bar">_</span>
				<span class="icon-bar">_</span>
    		</button>
				<a class="navbar-brand border-bottom-hover">Gestão de Empresas</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
                    <li class=""><a href="/">HOME</a></li>
					<li><a href="/empresa">EMPRESA</a></li>
					<li><a href="/servico">SERVIÇO</a></li>
				</ul>
			</div>
		</div>
	</nav>

    <main>
        <!-- inicio do container -->
        <section class="container">

            <div class="row">

                <div class="col-md-4">

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3>Serviço</h3>
                        </div>

                        <div class="panel-body">

                            <div class="container-fluid">

                                <!-- inicio do form -->
                                <form action="/servico/salvar" method="post">

                                    <input type="hidden" name="empresa" th:unless="${empresa == null}" th:value="${empresa.id}" />


                                    <div class="form-group">
                                        <label for="nome" class="control-label">Nome</label>
                                        <input type="text" class="form-control" id="nome" name="nome" th:unless="${servico != null}" placeholder="Nome do serviço"
                                        />
                                        <input type="text" class="form-control" id="nome" name="nome" th:unless="${servico == null}" th:value="${servico.nome}" placeholder="Nome do serviço"
                                        />
                                    </div>

                                    <div class="form-group">
                                        <label for="cnpj" class="control-label">Descrição</label>
                                        <input type="text" class="form-control" id="descricao" name="descricao" th:unless="${servico != null}" placeholder="Descrição do serviço"
                                        />
                                        <input type="text" class="form-control" id="descricao" name="descricao" th:unless="${servico == null}" th:value="${servico.descricao}"
                                            placeholder="Descrição do serviço" />
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <button type="submit" class="btn btn-primary">Salvar</button>
                                        </div>
                                    </div>


                                </form>
                                <!-- fim do form -->

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-md-8">

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3>Serviços</h3>
                        </div>

                        <div class="panel-body">

                            <div class="container-fluid">

                                <!-- inicio da tabela -->
                                <div id="tabela" class="container col-sm-10">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>NOME</th>
                                                <th>DESCRIÇÃO</th>
                                                <th>V</th>
                                                <th>A</th>
                                                <th>R</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="servico : ${servicos}" th:unless="${servicos == null}">
                                                <td th:text="${servico.nome}"></td>
                                                <td th:text="${servico.descricao}"></td>
                                                <td><a class="adicionar-valor" th:href="@{rs/servico/{id}/adicionar/valor(id=${servico.id})}"><span
                                                    class="glyphicon glyphicon-plus"></span></a></td>
                                                <td><a class="alterar-servico" th:href="@{rs/servico/{id}/alterar(id=${servico.id})}"><span
                                                    class="glyphicon glyphicon-pencil"></span></a></td>
                                                <td><a th:attr="onclick = ${ 'modalServicoRemover(' + servico.id + ')' }" href="#"><span
                                                    class="glyphicon glyphicon-trash"></span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- fim da tabela -->

                            </div>

                        </div>

                    </div>

                </div>




            </div>

            <!-- inicio do modal -->
            <div class="modal fade" id="modal-valor" tabindex="-1" role="dialog" aria-labelledby="modal-valor-titulo">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modal-valor-servico-nome">Serviço</h4>
                        </div>
                        <div class="modal-body">
                            <!-- inicio do form -->
                            <form id="form-valor-salvar" action="/servico/valor/salvar" method="post">

                                <input id="modal-valor-servico-id" type="hidden" name="servico" />
                               
                                <div class="form-group">
                                    <label for="valor" class="control-label">Valor R$</label>
                                     <input id="id-valor-salvar" class="form-control" type="text" name="valor" placeholder="valor" data-symbol="$" />

                                </div>

                                <div class="form-group">
                                    <label for="tipo" class="control-label">Tipo</label>
                                    <select id="tipo" name="tipo" class="form-control">
                                         <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.valor}"></option>   
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div>
                                        <button id="btn-valor-salvar" type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>

                            </form>
                            <!-- fim do form -->
                        </div>
                        <div class="alert alert-success" style="display:none" role="alert">Aluno cadastrado com sucesso!!!</div>
                        <div class="alert alert-danger" style="display:none" role="alert"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button id="limpar-campos" type="button" class="btn btn-primary">Limpar Campos</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- inicio do modal -->

            <div id="modal-deletar-servico" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Aviso</h4>
                            </div>
                            <div class="modal-body">
                                <p>Deseja excluir esse serviço da base de dados?</p>
                                <form action="/servico/deletar" method="post">
                                <input id="modal-deletar-servico-id" type="hidden" name="id"/> 
                                <button type="submit" class="btn btn-default">Deletar</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

                <!-- inicio do modal -->
	<div class="modal fade" id="modal-servico-alterar" tabindex="-1" role="dialog" aria-labelledby="modal-valor-titulo">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-valor-servico-nome">Serviço</h4>
                    </div>
                    <div class="modal-body">
                        <!-- inicio do form -->
                        <form action="/servico/salvar" method="post">
    
                            <input id="modal-servico-alterar-id" type="hidden" name="id" />
                            <input id="modal-servico-alterar-empresa" type="hidden" name="empresa" />
    
                            <div class="form-group">
                                <label for="nome" class="control-label">Nome</label>
                                <input type="text" class="form-control" id="modal-servico-alterar-nome" name="nome"  />
                            </div>
    
                            <div class="form-group">
                                <label for="cnpj" class="control-label">Descrição</label>
                                <input type="text" class="form-control" id="modal-servico-alterar-descricao" name="descricao" />
                            </div>
    
                            <div class="form-group">
                                <div>
                                   <button type="submit" class="btn btn-primary">Salvar</button>
                                </div>
                            </div>
                            </form>
                            <!-- fim do form -->                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- inicio do modal -->

        </section>
        <!-- fim do container -->
    </main>

    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/gilmardeveloper/jquery-plugin-inputmask-brl/master/js/mask.js"></script>
    <script src="js/main.js"></script>

</body>

</html>